* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

.blanco {
    color: white;
}

.negrita {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
}

.animate__animated.animate__rotateIn {
    --animate-duration: 3s;
}

.grid-contenedor {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.grid {
    height: auto;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
}

header {
    background-color: #98C1D9;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90px;

}

header nav {

    padding: 10px;
    font-weight: 600;
}

header nav a {
    padding: 5px;
}

.imagen1 {
    grid-area: imagen1;
}

.imagen2 {
    grid-area: imagen2;
}

.imagen4 {
    grid-area: imagen4;
}

.imagen5 {
    grid-area: imagen5;
}

.imagen6 {
    grid-area: imagen6;
}

.imagen7 {
    grid-area: imagen7;
}

main {
    background-color: #6969B3;
}

main>div>div>a>img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding: 12px;
}


.logo {
    display: flex;

}

.logo img {
    width: 80px;
    border-radius: 10px;
    padding-top: 10px;

}

footer {
    background-color: #98C1D9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: auto;
}

footer>a>img {
    width: 60px;
    height: 50px;
}

.animate__animated.animate__flip {
    animation-duration: 3s;
}

.perfil {
    padding: 10px;
}

.perfil-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

}


.mainperfil {
    min-height: 700px;
    width: 100%;
}



table tr th {
    border-collapse: collapse;
    border: rgba(255, 255, 255, 0.432) solid 1px;
    padding: 12px;
}

table tr td {
    border-collapse: collapse;
    border: rgba(255, 255, 255, 0.432) solid 1px;
        padding: 12px;

}

.section{

    display: flex;
    width: 430px;
    height: 100vh;
}

.section img{

    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.section img:hover{

    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}





@media (min-width: 700px) {

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;

    }

    header nav a {
        padding: 18px;
    }

    .grid-contenedor {

        grid-template-columns: 1fr 1fr;
        align-items: center;

    }

    .grid {
        height: auto;
        object-fit: cover;

    }

    main>div>div>a>img {
        width: 95%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        padding: 10px;

    }

    .logo {
        display: flex;


    }

    .logo img {
        width: 100px;
        border-radius: 10px;
        padding-top: 2px;

    }

    .perfil {
        padding: 10px;
    }

    .perfil-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;

    }

    .mainperfil {
        min-height: 700px;
        width: 100%;
    }

    table tr th {
        border: rgba(255, 255, 255, 0.432) solid .5px;
        padding: 20px;
    }
    
    table tr td {
        border: rgba(255, 255, 255, 0.432) solid .5px;
            padding: 23px;
    
    }
    .section{

        display: flex;
        width: 98.1vw;
        height: 100vh;
    }
    
    .section img{
    
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }
    .section img:hover{
    
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    
    }
   
}

@media (min-width: 1010px) {

    header {
        flex-direction: row;
        padding: 20px;

    }

    header nav a {
        padding: 51px;


    }

    .grid-contenedor {

        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        align-items: stretch;
    }

    .grid {
        height: auto;
        object-fit: cover;


    }

    main>div>div>a>img {
        width: 31vw;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
        padding: 10px;

    }

    .logo {
        display: flex;


    }

    .logo img {
        width: 120px;
        border-radius: 10px;
        padding-top: 2px;

    }

    footer {
        padding: 10px;
    }

    .perfil-flex {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .mainperfil {
        min-height: 720px;
        width: 100%;
    }

    table tr th {
        border: rgba(255, 255, 255, 0.432) solid .5px;
        padding: 20px;
    }
    
    table tr td {
        border: rgba(255, 255, 255, 0.432) solid .5px;
            padding: 30.5px;
    
    }
    .section{

        display: flex;
        width: 99.1vw;
        height: 100vh;
    }
    
    .section img{
    
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }
    .section img:hover{
    
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    
    }
}